# Deployah config
deployah.platform.yaml
deployah.yaml
.env.*
.env

# Go workspace file
go.work
go.work.sum

# Nix build results
/result

# Kind cluster config
.kubeconfig

# Docker Buildx artifact output
/dist

# Coverage profiles
coverage*.out
coverage*.html

# Pre-commit config
.pre-commit-config.yaml